*.class
*.log

#dot files
.history
.cache
.classpath
.project
.settings/

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
repositories
sbt
bin/

# Scala-IDE specific
.scala_dependencies

# Idea
.idea/
.idea_modules/
/coral.iml

# Mac 
.DS_Store

# Jekyll
_site/*

# Generated docs
/docs/_site
/docs/Gemfile.lock